body{
	padding:20px;
}

.igv-ui-tabs{
    display: block;
    border: 1px solid #aaaaaa;
    padding: 2px;
    background: none;
}

.igv-ui-tabs{
    display: block;
    border: 1px solid #aaaaaa;
    padding: 2px;
    background: none;
}
#gene_tab{
	visualibility: hidden;
}
.gene_segmentCN{
  border: 1px solid blue;
}
.segmentSvg{
    border :3px solid #dbd7d7;
    margin :5px;
    box-shadow: 2px 2px 1px #888888;
}
.geneName{
    display:inline-block;
    text-align:center;
    padding:7px;
    font-size: 20px;
    background: #bfbfbf; 
    background: -webkit-linear-gradient(#bfbfbf, #c2d6d6); 
    background: -o-linear-gradient(#bfbfbf, #c2d6d6); 
    background: -moz-linear-gradient(#bfbfbf, #c2d6d6); 
    background: linear-gradient(#bfbfbf, #c2d6d6); 
}
#sort{
    padding-top:5px;
    font-size: 18px;
}